<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Safe Cracker 9000</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.js"></script>
  </head>
  <body>
    <header>
      <h1>Safe Cracker 9000</h1>
    </header>
    <main>
      <header>
        <div class="timer">
        </div>
      </header>
      <section class="instructions">
        <p>
          As was expected of the legendary bank robbing duo, Bill and Ted, the entry into the bank's vault went exactly as planned. Approaching the door of the safe, Ted checks his watch: 2 more minutes before the alarm is triggered -- no problem, they have the Safe Cracker 9000 on their side!
        </p>
        <p>
          "Uh, Ted...", Bill's voice comes through the headset. "We have a problem. The Safe Cracker has gone nuts, I'm getting nothing but gibberish!"
        </p>
        <p>
          Ted starts to panic, but Bill speaks again. "Wait! I kind of get this... hold on, I think this stuff might mean something..."
        </p>
      </section>
      <section class="game" id="game">
      </section>
      <section class="chat">
      </section>
    </main>
    <footer>
    </footer>
    <script type="text/babel" src="javascripts/app.js"></script>
  </body>
</html>
