<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Safe Cracker 9000</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <header>
      <h1>Safe Cracker 9000</h1>
    </header>
    <main>
      <header>
        <div class="timer">
        </div>
      </header>
      <section class="instructions">
        <p>
          As was expected of the legendary bank robbing duo, Bill and Ted, the entry into the bank's vault went exactly as planned. Approaching the door of the safe, Ted checks his watch: 2 more minutes before the alarm is triggered -- no problem, they have the Safe Cracker 9000 on their side!
        </p>
        <p>
          "Uh, Bill...", Ted's voice comes through the headset. "We have a problem. This safe seems to be from Mars!"
        </p>
        <p>
          Ted starts to panic at the strange glyphs all around the dial, but after a few seconds of frantic beeping over the radio, Bill responds. "Wait! The Safe Cracker has a setting for that! Let me try to describe the symbols..."
        </p>
      </section>
      <section class="game" id="game">
        <div class="safe">
          
        </div>
        <div class="guide">

          <form>
            <input type="text" id="chat-bar"> <button>Submit</button>
          </form>
        </div>
      </section>
      <section class="chat">
        <ul>
        </ul>
      </section>
    </main>
    <footer>
    </footer>
    <script src="javascripts/app.js"></script>
  </body>
</html>
